html {
	margin:0;
	padding:0;
}

body {
	font:1em/1.5 "lucida grande", "lucida sans unicode", sans-serif;	
}

body h2 {
	margin:0;
	padding:1.2em 0 0 0;
	color:#fff;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	background:#000;
}
#scrolldisplay {
    height : 480px;
}

#scrolldisplay table {
		width:100%;
}
#scrolldisplay table td {
	border-bottom:1px solid #ff5050;
	text-align:center;
}

#scrolldisplay table tr.odd td{
	background:#FFCCCC;
}

#theader table {
	width: 100%;
}

.hide {
    display:none;
}

table thead {
	background:#930;
	color:#fff;
	text-transform:uppercase;
	width:100%;
}

table thead th {
	border: 1px solid #FFF;
	overflow:hidden;
}

table {
	width:98.5%;
	border-collapse:collapse;
}

table .open_gov, table .open_opp, table .close_gov, table .close_opp, table .team {
	width:11%;
	overflow: hidden;
}
table .venue {
	width:7.5%;
}

table .panelists, table .trainee, table .chair {
	width:12.5%;
	font-size:0.9em;
}


table .panelists li {
	list-style:none;
	margin:0 0 1em 0;
}

div.footer {
	background:#000;
	color:#fff;
	padding:1em 0;
	text-align:center;
}

div.footer a {
	color:#fcc;
	font-weight:bold;
}


div.tabconfig {
	background:#000;
	position:relative;
	height:30px;
	font-size:0.7em;
}

div.tabconfig p {
	position:absolute;
	left:20px;
	bottom:10px;
	margin:0;
}

div.tabconfig a {
	color:#eee;
}

div.tabconfig div#config {
	position:absolute;
	left:5em;
	bottom:10px;
	margin:0;
}

div.tabconfig button {
	background:#aaa;
	color:#000;
	border:1px solid #ccc;
	padding:1px 3px;
	margin:0 5px;
}

button {
    cursor: pointer;
}