body
{
    font-family: sans-serif;
    margin:0;
    padding:0;
    font-size: 10pt;
}

div
{
  margin:0;
  padding:0;
}

h1
{
  margin:0;
  padding:0;
}

div#mainmenu
{
  background-color:#666699;
  font-size:12px;
  height:25px;
  font-weight:bolder;
  padding-left:10px;
}

div#submenu
{
  background-color:#ffffff;
  font-size:10px;
  height: 25px;
  font-weight:normal;
}

div#content
{
  margin:10px;
}

body h1
{
  text-align: center;
  font-weight: normal;
  text-indent: -100em;
}

#mainmenu ul, #submenu ul
{
  list-style-type:none;
}

#mainmenu li, #submenu li
{
 display: inline;
}

#mainmenu li a
{
  display:block;
  float:left;
  color:#ffffff;
  text-decoration:none;
  padding: 5px 15px;
}

#mainmenu a:link.activemain,#mainmenu a:visited.activemain
{
  color:#ffcc99;
  background-color:#993300;
}

#mainmenu a:hover
{
  background-color:#333366;
  color:#ccccff;
}

#submenu li a
{
  display:block;
  float:left;
  color:#ffcc99;
  background-color:#993300;
  text-decoration:none;
  padding: 5px 15px;
}

#submenu a:link.activemain,#submenu a:visited.activemain
{
  color:#993300;
  background-color:#ffcc99;
}

#submenu a:hover
{
  background-color:#ff9933;
  color:#993300;
}

label
{
    float: left;
    width: 10em;
}

p
{
  margin: 10pt;
}

p.err
{
    font-weight: bold;
    font-size:80%;
    color: red;
}

p.msg
{
  color:#0033ff;
  font-size: 80%;
}

p.outrange
{
  color:red;
}

ul.summary
{
  list-style-type:none;
  margin:10px;
  padding: 5px;
  width: 20em;
  background-color:#ffffcc;
}

ul.summary li
{
  margin:10pt;
}

span.flt
{
  float:left;
  width: 12em;

}

table
{
 margin-left:80px;
}

th,td
{
  text-align:left;
  padding: 5px;
}

th
{
  background-color:#99ccff;
}

td
{
  background-color:#ffcccc;
}

td.editdel
{
  background-color: #e2e2c5;
  padding: 5px 10px;
}

#content a
{
  text-decoration:none;
  color:#336699;
  font-weight:bold;
}

ul.err
{
  color:red;
  list-style-type:disc;
  background-color:#ffffcc;
  width:40%;
  border: 1pt dashed #000;
  padding: 10px;
  margin:10px 40px;
}

ul.err li
{
  margin-left:10px;
}

.hide
{
  display:none;
}

form
{
  margin-left:80px;
  padding: 10px;
}

div#debatedetails
{
  text-align:center;
}

div#og, div#oo, div#cg, div#co
{
  margin:10pt;
  padding:5pt;
  width:40%;
  border:2px solid;
  float:left;
}

div.submit
{
  clear:both;
}

div.error
{
  border:2px solid red !important; 
}

h2.pos
{
 float: right;
 margin: 0;
 padding:0;
 width: 20pt;
 border: 1px solid;
}

table#manualdraw
{
  margin-left:10px;
}

td ul, td li
{
  margin-left:10px;
}

td li
{
  list-style-type:disc;
}

tr.inactive
{
	color: #FF0000;
}

.version {
	border-top: 1px solid gray;
	text-align: right;
	font-size: 85%;
}

.install_checks ul li{
	margin-left: 5em;
}

.pass {
	color: #009900;
	font-weight: bold;
}

.fail {
	color: #DD0000;
	font-weight: bold;
}

.warn {
	color: #FFAA00;
	font-weight: bold;
}
